@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@300&family=Roboto&display=swap');

body {
    background-color: blanchedalmond;
    color:darkslategrey;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 0;
}

main {
    padding: 10px 15px;
}

header {
    background-color: #3a5d2f;
    padding: 15px;
    border-bottom: 1px solid black;
}


.taco-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.taco-image {
    border: 3px solid darkslategrey;
    border-radius: 10px;
}


a {
    text-decoration: none;
}

a:visited {
    color: darkslategray;
}


a.header-link {
    color: white;
    font-family: 'Poppins';
    font-size: larger;
}

main {
    padding-top: 15px;
    padding-bottom: 25px;
}

footer {
    background-color: #b4cf66;
    padding: 20px;
    position: absolute;
    width: 100%;
    font-size: larger;
}

td :nth-child(2n) {
    background-color: rgb(218, 194, 163);
}


h1.scrumptious-header {
    font-family: 'Gloock';
}

a:hover {
    color: rgb(62, 25, 2);
    font-weight: bolder;
}
